/**
 * The primary stylesheet for the CSS Grid Playground.
 * This sheet pulls in surrounding components allowing you to focus on specifics.
 */

/* Components */
@import url('CSS/reset.css');
@import url('CSS/accessibility.css');
@import url('CSS/layout.css');
@import url('CSS/typography.css');
@import url('CSS/masthead.css');
@import url('CSS/boxes.css');

/* CSS Grid Playground */

.the-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.yellow {
  /* grid-column: 3/3;
  grid-row: 1/2; */
}
